---

import { ViewTransitions } from "astro:transitions";
import NaviMain from "./NaviMain.astro";


interface Props {
  title: string;
}
const { title } = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <ViewTransitions />
		<title>{ title }</title>
	</head>
  <body class="min-h-screen bg-slate-400">
    <main class="bg-amber-50 container mx-auto">
      
        <NaviMain />
        <section class="p-4 border-b-8 border-lime-300">
          <slot />
        </section>
        
      
      
    </main>
  </body>
</html>
